<% if @yogaclass.photo.attached? %>
  <div class="showbanner" style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @yogaclass.photo.key, height: 300, crop: :fit, class: "showbanner" %>);">
<% else %>
  <div class="showbanner" style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpg' %>);height: 380px">
<% end %>
  <div class="container" style = "padding-top: 96px;">
    <h1> <%= @yogaclass.title %> </h1>
    <h2>with <%= @yogaclass.user.first_name %> </h2>
  </div>
</div>

<div class="show-cards">
  <div class="card-description">
    <h3>Class Description</h3>
    <p><%= @yogaclass.description %></p>
    <div class="button-container">
      <% if @yogaclass.user == current_user %>
        <%= link_to 'Edit', edit_yogaclass_path(@yogaclass), class: "btn btn-flat" %>
        <%= link_to 'Delete', yogaclass_path(@yogaclass), method: :delete, data: { confirm: 'Do you really want to delete this class?' }, class: "btn btn-ghost" %>
      <% end %>
    </div>
      <h3><%= @bookings.count %> Participant/s</h3>
      <ul>
        <% @bookings.each do |booking| %>
          <li> <%= booking.user.first_name %> <%= booking.user.last_name %> </li>
        <% end %>
      </ul>
  </div>

  <div class="card-info">
    <h3>Booking Details</h3>
    <div class="info-details">
      <p><i class="fas fa-map-marked pr-3"> </i><%=@yogaclass.address%></p>
      <p><i class="fas fa-calendar-day pr-3"></i><%=@yogaclass.start_at%></p>
      <p><i class="fas fa-history pr-3"></i><%= @yogaclass.duration%> hours</p>
      <p><i class="fas fa-money-bill-wave pr-3"></i><%= @yogaclass.price%> $</p>
    </div>
    <div class="button-container">
      <% unless @yogaclass.user == current_user %>
        <%= link_to 'Book Class', yogaclass_bookings_path(@yogaclass), method: :POST ,class: "btn btn-gradient"%>
      <% end %>
    </div>
  </div>
</div>
<div class="card-reviews">
  <h3 class = "title"><%= pluralize @yogaclass.reviews.size, "Review" %></h3>
    <div id="reviews">
      <% if @yogaclass.reviews.blank? && @yogaclass.user != current_user %>
        Be the first to leave a review for <%= @yogaclass.title %>
      <% else %>
        <% @yogaclass.reviews.each do |review| %>
          <p id="review-<%= review.id %>"><%= review.content %></p>
        <% end %>
      <% end %>
    </div>

    <% unless @yogaclass.user == current_user %>
      <%= simple_form_for([ @yogaclass, @review ], remote: true) do |f| %>
        <%= f.input :content, as: :text, label: 'How was your Yoga Class?' %>
        <%= f.button :submit, 'Leave Review', class: 'btn-gradient' %>
      <% end %>
    <% end %>
</div>

<div class ="map-container" id="map"
  style="height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
