<div class="form-container">
  <h2>Thank you, you booked <%= @yogaclass.title %> </h2>
  <div class="form-card">
    <p><i class="fas fa-map-marked pr-3"></i><%=@yogaclass.address%></p>
    <p><i class="fas fa-calendar-day pr-3"></i><%=@yogaclass.start_at%></p>
    <p><i class="fas fa-history pr-3"></i><%=@yogaclass.duration%> hours</p>
    <p><i class="fas fa-money-bill-wave pr-3"></i><%= @yogaclass.price%> $</p>
    <p>Please be there 10 minutes before class starts.<br>I am looking forward to seeing you!<br><%=@yogaclass.user.first_name%></p>
    <%= link_to 'Back', yogaclass_path(@yogaclass), class: "btn btn-gradient"%>
  </div>
</div>
