<div class="form-container">
  <h2>Thank you, you booked <%= @yogaclass.title %> </h1>
  <div class="form-card">
    <p><i class="fas fa-map-marked pr-3"></i><%=@yogaclass.address%></p>
    <p><i class="fas fa-calendar-day pr-3"></i><%=@yogaclass.start_at%></p>
    <p><i class="fas fa-history pr-3"></i><%=@yogaclass.duration%></p>
    <p><i class="fas fa-dollar-sign pr-3"></i><%= @yogaclass.price%></p>
    <p>Please be there 10 minutes before class starts.<br>We are looking forward to seeing you!</p>
  </div>
</div>
