<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <i class="fas fa-spa"></i>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "/", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "All Classes", "/yogaclasses", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Offer Class", "/yogaclasses/new", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <% if user_signed_in? %>
          <%= link_to "All My Bookings", "/yogaclasses/:yogaclass_id/bookings", class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item active">
        <% if user_signed_in? %>

                <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: "card-trip-user avatar-bordered", id: "navbarDropdown" %>
             <% else %>
            <%= image_tag "yoga-at-the-beach.jpg" %>
            <% end %>

      <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "nav-link" %>
        <% else %>
          <%= link_to "Log in", "/users/sign_in", class: "nav-link" %>
        <% end %>

      </li>
    </ul>
  </div>
</div>
